<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kt.smartview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name="com.kt.smartview.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kt.smartview.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kt.smartview.ui.activity.SettingAlarmActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kt.smartview.ui.activity.AlarmHistoryActivity"
            android:label="@string/alarm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <service
            android:name="com.kt.smartview.push.PushService"
            android:label="SmartView PushService">
            <intent-filter>
                <action android:name="com.kt.smartview.push.PushService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.kt.smartview.push.RestartService"
            android:enabled="true"
            android:label="SmartView Push Reconnector"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process=":push_restart_manager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>